* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

.header-container {
    display: flex;
    align-items: center;
    height: 65px;
    width: 550px;
}
.logo-container {
      display: flex;
      align-items: center;
      margin-left: 29px;
}

.course {
    margin-left: auto;
    margin-right: 28px;
}

h1 {
    color: white;
    font-size: 21px;
    margin: 0;
    font-weight: 700;
    letter-spacing: -2.075px;
    line-height: normal;
}

h3 {
    font-size: 12px;
    color: white;
    font-weight: 500;
}

main {
  margin: auto;
  width: 435px;
}

form {
  margin-top: 28px;
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  column-gap:33px;
  row-gap:14.99px;
}

.form-row {
  border-radius: 4.912px;
  border: 0.819px solid #D1D5DB;
  box-shadow: 0px 0.819px 1.637px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  padding: 7.369px 10.644px;
  align-items: center;
  background: pink;
}
.logo{
  height: 40px;
}

.button {
    color: white;
    grid-column: 1 / span 2;
    border-radius: 5px;
    background: linear-gradient(90deg, #711F8D 1.14%, #A818DA 100%);
}